<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<style>
  a {
    line-height: 1;
  }
  h3 {
         margin: 1;
  }

</style>
</head>
<body>
<h1>{{title}}</h1>
<ul>

<li>
  <span>
    <a href="https://www.example.com" style="display: inline-block;">
      <h3>{{text}}</h3>
    </a>
  </span>
  <a href="https://www.example.com" style="display: inline-block;">
    <button>КУПИТЬ</button>
  </a>
</li>

 <li>
  <span>
    <a href="https://www.example.com" style="display: inline-block;">
      <h3>{{text1}}</h3>
    </a>
  </span>
  <a href="https://www.example.com" style="display: inline-block;">
    <button>КУПИТЬ</button>
  </a>
</li>

<li>
  <span>
    <a href="https://www.example.com" style="display: inline-block;">
      <h3>{{text2}}</h3>
    </a>
  </span>
  <a href="https://www.example.com" style="display: inline-block;">
    <button>КУПИТЬ</button>
  </a>
</li>
<a href="/" style="display: inline-block;">
    <button>Вернуться обратно</button>
  </a>
</ul>
</body>
</html>